
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700;900&display=swap');
 * {
    right: 0;
    left: 0;
    margin:0;
    box-sizing: border-box;
font-family: 'Nunito', sans-serif;

}





body {
    font-family: 'Nunito', sans-serif;
    background-color: #424242;
    color:#9d14dc;
    font-size:20px;
    position:relative;


.nav-logo{
display:flex;
margin-right:200px;
margin-left:200px;
 font-size: 24px;
    font-weight: bold;

}

.nav-logo a{
    text-decoration:none;
     color:#5d3376;
     font-weight:900;
     font-size:50px;
     letter-spacing: 3px;
}

.nav-lin>ul{
    list-style-type:none;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 auto;

}


.nav-lin>ul>li{
     margin-left:30px;
}




.nav-lin>ul>li>a{
    text-decoration:none;
    color:#820cd6;



}
.nav-lin li:hover{
    z-index:10;
    transition:0.5s;
    scale:1.3



}

.nav-lin li:hover{

    color:#71ac5b;
}


.phone{
    margin-left:150px;

}

.navbar{
    background-color:#fff;
display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 auto;
    }

.fixed{
    position:fixed;
    width:100%;
    left:0;
    top:0;
    z-index:2;

}



.banner{
    background-color:#5d3376;
    text-align: center;
    padding:200px;


}

.banner p{
    margin-left:0;
}



.bg-white{
    background:#fff;
    border-radius:2em;
    weight:100%;
}

.grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
    max-width: 1200px;
    margin: 0 auto;


}
.grid-item-title{
     grid-column:1/5;
    grid-row:1/3;
    text-align: center;
    justify-content: center;
}
.grid-item-img{
    grid-column:5/5;
    grid-row:1/3;
    text-align: center;
}

.grid-item-serv{
    text-align:center;

}

.thumb{
    padding-top:30px;
}

.thumb-about{

    padding-left:30px;

}

.bg-white .grid-title{
    color: #000;
    vertical-align:middle;

}

.grid-serv-btn a{
    color:#fff;
    text-decoration:none;
    text-align:center;
    cursor:pointer;
}

.grid-serv-btn{
    border-radius:20px;
    background-color:#71ac5a;
    margin:0 auto;
    margin-top:40px;
    grid-column:2/5;
    padding:20px;
    display:inline-block;
    line-height:60px;
    padding 0px 30px;
    top:0;
    position:relative;
    box-shadow:0 5px 0px #3c354a;
    transition-duration:0.5s;
}
.grid-serv-btn:hover{
    top: 2px;
    box-shadow: 0 3px 0 px #3c354a;
    background-color:#18b5a4;
}



.grid-masters{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap:0 30px;
    max-width:1200px;
    margin: 0 auto;
    margin-top:100px;
}


.bg-white-mas{
    background:#fff;
     border-radius:1em;

}


.bg-white-mas-about{
    background:#fff;
    border-radius:1em;

}



.grid-item-mas{
    text-align:center;
}


.grid-item-title-mas{
   grid-column:3/4
    grid-row:1/2;
    text-align:center;
    justify-content:center;
     display:flex;
    justify-content:center;
    align-items:center;

}
.grid-item-img-mas{
    grid-column:1/2;
    grid-row:1/2;
    text-align:center;
    justify-content:center;
}

.grid-item-title-mas{
      align-items:center;
}


.grid-item-mas{
    grid-row:2/3;
}
.grid-serv-btn-mas{
    border-radius:20px;
    background-color:#71ac5a;
    margin:0 auto;
    margin-top:40px;
    grid-column:2/4;
    padding:20px;
    display:inline-block;
    line-height:60px;
    padding 0px 30px;
    top:0;
    position:relative;
    box-shadow:0 5px 0px #3c354a;
    transition-duration:0.5s;
}
.grid-serv-btn-mas:hover{
    top: 2px;
    box-shadow: 0 3px 0 px #3c354a;
    background-color:#18b5a4;
}



.grid-serv-btn-mas a{
    color:#fff;
    text-decoration:none;
    text-align:center;
    cursor:pointer;
}

.grid-title-mas{
    float:left;
    justify-items:center;
    margin-left:30px;

}





.grid-title-mas-about{
    display:flex;
    justify-content:center;




}


.grid-item-title-mas-about{
    grid-column:1/5;
    grid-row:1/2;
    text-align:center;
    margin:5%;
}


.zag-about{
    display:flex;
    justify-content:center;
    padding-top:100px;
}


.mas-info{
    display:flex;
    align-items:center;
    justify-content:center;


}
.works h1{
    display:flex;
    justify-content: center;
    align-items:center;
    margin-top:100px;

}




.container{
    max-width:800px;
    margin:0 auto;
    padding:100px 15px;
    position:relative;


}



   .swiper {
      width: 100%;
      height: 100%;
       border-radius:2em;

    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;

    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;

    }





/*Scroll bar options*/
body::-webkit-scrollbar{
    width: 0.50em;

}
body::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: #821717;

}
body::-webkit-scrollbar-track {
    background: #5d3376;

}




.cont{
    margin-top:100px;
    max-width:1200px;
    margin:0 auto;
    margin-bottom: 20px;
}

.cont .title{
    display:flex;
    justify-content:space-around;
    font-weight:800;
}

.cont .ex{
    display:flex;
    justify-content:space-around;
    align-items:center;
}



.map{
    display:flex;
    width:1200px;
    height:300px;
    background-color:#fff;
  justify-content:center;
}



/*Footer options */
.f-helper{

position: relative;
height: 100%;
min-height: 100vh;

}
.footer {
    background: #62af65;
    padding: 30px 100px;
    display:flex;

    left:0;
   justify-content:space-between;
    align-items: center;
    width:100%;
    position: relative;
}
    .footer .i {


        margin-right:20%;


    }

    .footer p {
        color: #fff;


    }
    /*Footer contacts*/
    .footer .foo-contact {
        position: relative;
        display: flex;
        right: 0;
        bottom: 0;
    }


  .container-serv{
   display:flex;
   flex-wrap: wrap;
   text-align:center;

  }

.box-2{
    background-image:url(../img/1638837069_1-sobakovod-club-p-sobaki-gruming-kartinki-1_waifu2x_noise0_scale4x.png);
    background-color:#71ac5a;
    background-repeat: no-repeat;
    background-size: contain;
    background-position:0;
    padding:200px;
    width:100%;
}



.title-1{
    display:flex;
}

.title-3{
    display:flex;
}

.title-main{
    display:flex;
}



  .container-about{
   display:flex;
   flex-wrap: wrap;
   text-align:center;

  }

.box-3{
    background-image:url(../img/7265202_waifu2x_noise0_scale4x.png);
    background-color:#71ac5a;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 90%;
    padding:200px;
    width:100%;
}


 .container-cont{
   display:flex;
   flex-wrap: wrap;
   text-align:center;
  }

.box-1{
    background-image:url(../img/36844.png);
    background-color:#71ac5a;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 75%;
    padding:200px;
    width:100%;
}


.container-serv-our{
    display:flex;
  justify-content: center;

}

.container-serv-our h2{
      margin:0 auto;
        margin-top:70px;
}

.serv-photo{
    display:flex;
    justify-content:center;
    margin-top:50px;

}

.dost{
    margin-top:5%;
    display:flex;
    justify-content:center;
}


.dost p{
    padding:2%;
    padding-top:10%;


}

.dost .photo-1{
    float:left;

}

.dost img{
    border-radius: 5px;
}
.nag img{
    display:block;
    margin-left: 650px;
    margin-right: auto }
}
.nag p{

   text-align: center;
}

   .grid {
        grid-template-columns: 1fr; /* Один столбец на узких экранах */
    }
    .banner{
        padding:100px;
    }


}

@media (max-width: 480px) {
    .nav-logo as {
        font-size: 20px;
    }
}















