<!doctype html>
<html lang="en">
<head>


    <meta name = "viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="static/main/css/opd.css">
    <link rel="apple-touch-icon" sizes="180x180" href="static/main/img/apple-touch-icon.png">
   <link rel="icon" type="image/png" sizes="32x32" href="static/main/img/favicon-32x32.png">
   <link rel="icon" type="image/png" sizes="16x16" href="static/main/img/favicon-16x16.png">
   <link rel="manifest" href="static/main/img/site.webmanifest">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <title>{% block title%}{% endblock %}</title>
    {% load static %}



</head>
      


  <body>
      <!-- НАВБАР -->

      <header class="header">
    <nav>
        <div class="navbar">
            <div class="nav-logo">
                <a class = "logo" href="http://127.0.0.1:8000/
"><img src="static/main/img/logo.png"  style="height:100px;"></a>
                <a  class="txt" href="http://127.0.0.1:8000/
">FRESHSTART</a>
            </div>
            <div class="nav-lin">
                <ul >
             <li><a href="/servs">Услуги</a></li>
             <li><a href="/cont">Как нас найти</a></li>
                </ul>
            </div>
            <div class="phone">+7 (914) 704-82-17</div>
        </div>
    </nav>

</header>

      <!-- НАВБАР КОНЕЦ -->



      <!-- БАННЕРЫ-->
      {% block banner1 %}{% endblock %}

     
      {% block banner2 %}{% endblock %}


      {% block banner3 %}{% endblock %}

     
      {% block banner4 %}{% endblock %}

      {% block banner5 %}{% endblock %}

            <!-- БАННЕРЫ КОНЕЦ  -->


   <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
      <script>gsap.from(".title-main",{ opacity:0, duration:1, y:20 })</script>
      <script>gsap.from(".banner p",{ opacity:0, duration:1 })</script>
      <script>gsap.from(".title-3",{ opacity:0, duration:1, y:20 })</script>
      <script>gsap.from(".title-2",{ opacity:0, duration:1, y:20 })</script>
      <script>gsap.from(".title-1",{ opacity:0, duration:1, y:20 })</script>
      <script src="static/main/js/app.js"></script>
</body>

<footer>


          <section class="footer">
              <img class="i"  src ="static/main/img/logo.png" style="height:100px;">
              <div class="foo-contact">

                  <p>
                    Версия 2.36.023.0602.1658
                      <br />Свидетельство о госрегистрации программы для ЭВМ № 2013613909 от 18.04.2013 г. Выдано Федеральной службой по интеллектуальной собственности


                  </p>

              </div>



          </section>
</footer>





</html>
