
{% extends 'main/base.html' %}
{% load static %}



{% block title%}
FRESHSTART
{% endblock %}

{% block banner1 %}
      <div class="container-cont">
            <div class="box-1">
                <h1 class="title-1">Наш офис</h1>
            </div>

        </div>

      <div class="zag-about">
</div>
<div class="dost">
 <img class="photo-1" src ="static/main/img/tipa_ofis.png" style="height:700px">
</div>

<section class="cont">

    <div class="title">
        <h4>Новосибирская область, Новосибирск, улица Калинина, 14</h4>
        <h2>+7 (914) 704-82-17</h2>
    </div>
    <div id ='map' class="map">
        <script src="https://api-maps.yandex.ru/2.1/?apikey=d9568a9f-0389-4fdb-8891-c5d168f6b388&lang=ru_RU" type="text/javascript">

        </script>
    </div>

</section>
{% endblock %}




