{% extends 'main/base.html' %}
{% load static %}


{% block title%}
Друг
{% endblock %}

{% block banner1 %}

 <div class="container-serv">
            <div class="box-2">
                <h1 class="title-2">Наши услуги</h1>
            </div>
 </div>


{% endblock %}

     {% block banner2 %}

     <div class="container-serv-our">
         <div class="one-pg">
             <h2>Одностраничный сайт</h2>
           <img src ="static/main/img/inline_image_preview.avif" style="height:200px; width:200px">
             <p>Одностраничный сайт (или лендинг) — это веб-сайт, состоящий из единственной веб-страницы, на которой размещена вся необходимая информация. В отличие от традиционных многостраничных сайтов, одностраничные сайты обычно предоставляют компактную и лаконичную информацию, сосредотачивая внимание посетителей на ключевых элементах.</p>
         </div>

         <div class="lots-pg">
          <h2>Многостраничный сайт</h2>
           <img src ="static/main/img/inline_image_preview.avif" style="height:200px; width:200px">
             <p>Многостраничный сайт представляет собой веб-ресурс, состоящий из нескольких веб-страниц, связанных между собой гиперссылками и образующих единое целое. В отличие от одностраничных сайтов, которые вмещают всю информацию на одной странице, многостраничные сайты предоставляют разнообразные разделы и страницы для организации контента.</p>
         </div>


              <div class="str-st">
          <h2>Сайт интернет-магазин </h2>
           <img src ="static/main/img/inline_image_preview.avif" style="height:200px; width:200px">
             <p>Интернет-магазин - это веб-ресурс, предназначенный для продажи товаров или услуг через интернет. Этот тип сайта обеспечивает возможность пользователям просматривать каталог продукции, делать выбор, осуществлять онлайн-заказы и совершать покупки, не покидая дома. </p>
         </div>


         <div class="free">
        <h2>Бесплатный макет </h2>
           <img src ="static/main/img/inline_image_preview.avif" style="height:200px; width:200px">
             <p>Наша комапания создаст для вас бесплатный макет сайта, чтобы вы могли увидет ход работы ничего не теряя </p>
         </div>

            </div>



     {% endblock %}

