{% extends 'main/base.html' %}
{% load static %}


{% block title%}
Друг
{% endblock %}

{% block banner1 %}

 <div class="container-serv">
            <div class="box-2">
                <h1 class="title-2">Наши услуги</h1>
            </div>
 </div>


{% endblock %}

     {% block banner2 %}

     <div class="container-serv-our">
         <h2>Список наших услуг</h2>
            </div>


         <div class="serv-photo">
          <img src ="static/main/img/Lorem_Ipsum_Arial.png" style="height:1000px; width:1000px">
             </div>



     {% endblock %}

