{%  extends 'base.html' %}
{%load static%}

{% block title%}
ГрузПрофСервис-О Компании
{%endblock%}

{% block banner %}
<section class="about-main">

    <div class="parallaxBox" data-parallax="scroll" data-z-index="1" data-image-src="{%static 'main/76.jpg' %}"></div>
    <div class="contentBox">
        <h2 class="heading">О Нас</h2>
        <p>Общество с ограниченной ответственностью «ГрузПрофСервис » вошло на рынок грузоперевозок по городу Владивостоку и Приморскому краю в 2009 году. И зарекомендовало себя как  ответственного грузоперевозчика.</p>
    </div>

</section>






<section class="about-main2">


    <div class="contentBox">
        <h2 class="heading"></h2>
        <p>Наша компания имеет свой собственный автотранспорт, что дает заказчику уверенность, что груз будет доставлен по  заявленному маршруту в кратчайшие сроки.</p>
    </div>

    <div class="parallaxBox2" data-parallax="scroll" data-z-index="1" data-image-src="{%static 'main/88.jpg' %}"></div>

</section>

<section class="bord">
    <h2 class="heading">Примущества работы с нами </h2>
    <div class="container">
        <div class="plusBox">
            <div>
                <img src="{%static 'main/sup.png'  %}" />
                <h2>Оперативность</h2>
            </div>
        </div>
        <div class="plusBox">
            <div>
                <img src="{%static 'main/pin.png'  %}" />
                <h2>Маршруты по всему Приморскому краю</h2>
            </div>
        </div>
        <div class="plusBox">
            <div>
                <img src="{%static 'main/legal.png'  %}" />
                <h2>Электронный документооборот</h2>
            </div>
        </div>
        <div class="plusBox">
            <div>
                <img src="{%static 'main/tim.png'  %}" />
                <h2>Кратчайщие сроки по доставки груза</h2>
            </div>
        </div>

        <div class="plusBox">
            <div>
                <img src="{%static 'main/emp.png'  %}" />
                <h2>Индивидуальный менеджер для каждого клиента</h2>
            </div>
        </div>

    </div>
</section>









{% endblock %}

