<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="static/css/style.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="/static/js/parallax.min.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta charset="utf-8" />

		<title>{% block title%}{% endblock %}</title>
		{% load static %}
	</head>

	<body>
		<!--ПРЕЛОУДЕР-->
		<section class="pre-loader">
			<div class="pre-loader-content">
				<div class="pre-loader-first"></div>
				<div class="pre-loader-second"></div>
				<div class="pre-loader-third"></div>
			</div>
		</section>

		<!-- НАВБАР -->

		<nav>
			<div class="logo">
				<a href="/"><h4>ГрузПрофСервис</h4> </a>
			</div>
			<ul class="nav-links">
				<li><a href="/">Главная</a></li>
				<li><a href="/contacts">Наши Контакты</a></li>
				<li><a href="/service">Услуги</a></li>
				<li><a href="/about">О Нас</a></li>
			</ul>
			<div class="threeline">
				<div class="line1"></div>
				<div class="line2"></div>
				<div class="line3"></div>
			</div>
			<div class="download">
				<a href="{%static 'main/Договор перевозки груза .doc'  %}" download
					>Скачать договор перевозок</a
				>
			</div>
		</nav>
		<section class="banner"></section>
		<script type="text/javascript">
			window.addEventListener('scroll', function () {
				var nav = document.querySelector('nav')
				nav.classList.toggle('sticky', window.scrollY > 0)
			})
		</script>

		<!-- НАВБАР КОНЕЦ -->

		<!-- БАННЕР-->
		{% block banner %}{% endblock %}

		<!-- БАННЕР КОНЕЦ  -->

		<!-- НАЧАЛО КАРУСЕЛИ СО СЛАЙДАМИ -->
		{% block about %}{% endblock %} {% block service %}{% endblock %}

		<!-- Три колонки с информцией и ссылками на страницу-->
		{% block contact %}{% endblock %} {% block featurette2 %}{% endblock %}
		<!-- Три колонки с информцией и ссылками на страницу  КОНЕЦ-->

		<footer>
			<section class="footer">
				<p class="text">Developed By TimofeevDaniil</p>
				<div class="foo-contact">
					<p>
						г.Город, ул.Улица, Офис №123
						<br />Телефон: +7 123-45-67 <br />Факс: +7 123-45-67 <br />E-mail:
						mail@mail.com
					</p>
				</div>
			</section>
			<script src="static/js/preloader.js"></script>
			<script src="static/js/app.js"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
			<script src="/static/js/parallax.min.js"></script>
		</footer>
	</body>
</html>
