{%  extends 'base.html' %}
{%load static%}
{% block title%}
ГрузПрофСервис-Услуги
{%endblock%}
{% block banner %}
<section class="serv-banner">
    <div class="parallax-serv-banner" data-parallax="scroll" data-z-index="1" data-image-src="{%static 'main/33.jpeg' %}">
        <h2 class="title">Услуги нашей организации</h2>

    </div>



</section>

{% endblock %}

{% block about %}





<section class="serv-main">

    <div class="contentBox">
        <h2 class="heading">Офисный переезд</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="parallax-serv-cont1" data-parallax="scroll" data-z-index="1" data-image-src="{%static 'main/srv5.jpg' %}"></div>
</section>

<section class="serv-main-m">

    <div class="contentBox">
        <h2 class="heading">Квартирный переезд</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="parallax-serv-cont2" data-parallax="scroll" data-z-index="1" data-image-src="{%static 'main/srv1.jpg' %}"></div>
</section>

<section class="serv-main-z">
    
    <div class="contentBox">
      <h2 class="heading">Перевозка грузов</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="parallax-serv-cont3" data-parallax="scroll" data-z-index="1" data-image-src="{%static 'main/srv3.jpg' %}"></div>
</section>



<section class="serv-main-f">

    <div class="contentBox">
      <h2 class="heading">Контейнерная перевозка</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="parallax-serv-cont4" data-parallax="scroll" data-z-index="1" data-image-src="{%static 'main/5757.jpg' %}"></div>
</section>




<section class="serv-main-g">

    <div class="contentBox">
      <h2 class="heading">Услуги грузчиков</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="parallax-serv-cont5" data-parallax="scroll" data-z-index="1" data-image-src="{%static 'main/srv2.png' %}"></div>
</section>



<section class="serv-main-h">

    <div class="contentBox">
      <h2 class="heading">Грузовое такси</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="parallax-serv-cont6" data-parallax="scroll" data-z-index="1" data-image-src="{%static 'main/srv4.jpg' %}"></div>
</section>


<section class="serv-main-j">

    <div class="contentBox">
      <h2 class="heading">Междугородние перевозки</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="parallax-serv-cont7" data-parallax="scroll" data-z-index="1" data-image-src="{%static 'main/srv.jpg' %}"></div>
</section>
{% endblock %}


